* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: azure;
    /* background-color: red; */
}

#margin {
    margin: 230px;
}
.btn {
    width: 100px;
    height: 45px;
    background-color: rgb(228, 236, 236);
    color: green;
    font-size: 15px;
    padding: 13px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgba(28, 79, 79, 0.555);
}
.btn:hover {
    background-color:rgba(200, 237, 237, 0.594) ;
    color: rgba(0, 128, 0, 0.646);
}



























header nav {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: 2px solid white; */
    background-color: white;
    padding: 10px 50px;
    position:fixed;
    box-shadow: 1px 1px 20px 1px black;
}
header nav ul{
    display: flex;
    gap: 40px;
    align-items: center;   /*  chat gpt ar thaki dakha lagse  */ 
    
}
header nav ul li{
    list-style: none;      /*  chat gpt ar thaki dakha lagse  */ 
}
.nav-text {
    background-color:rgba(220, 235, 235, 0.605);
    padding: 10px;
    border-radius: 10px;
}
.nav-text:hover {
    background-color: rgba(189, 206, 206, 0.785);
}

header nav ul li a{
    text-decoration: none;  
             
}
.profile img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.first-container {
    width: 100%;
    height: 600px;
    background-image: url(../images/banner/banner1.png);
    background-size: contain;    
}
.first-sub-container {
    padding: 190px 200px 0px 550px;
}
.first-sub-container .attribute h1 {
    font-size: 55px;
    width: 500px;
    height: 200px;
    text-align: end;
}
.first-sub-container .attribute p {
    font-size: 12px;
    margin-left: 148px;
    width: 350px;
    height: 85px;
    text-align: end;
}
.attribute button{
    /* border: 1px solid green; */
    display: block;
    margin-left: auto;
    margin-right: 30px;
}
.attribute a {
    text-decoration: none;
}
.logo {
    padding: 8px;
    border-radius: 12px;
    background-color: rgba(240, 236, 236, 0.571);
    box-shadow: 5px 5px 30px rgb(185, 168, 168);
}




























